@use "../nav";
@use "../utils";
@use "../title";

div#load_data {
    width: 80%;
    margin: auto;
    padding: 16px;
    // border: utils.$debug-container;
    display: block;
    justify-content: space-around;

    //_ NOTION
    div#database_grid {
        width: 80%;
        margin: auto;
        padding: 0.5rem;
        display: block;
        div.database-grid-row {
            width: 100%;
            display: flex;
            justify-content: space-around;
            padding: 0.5rem;
            margin: auto;
            div.database-tile:hover {
                transform: scale(1.05);
            }
            div.database-tile {
                width: 40%;
                border: 1px solid utils.$notion-grey;
                padding: 0.25rem;
                border-radius: 5px;
                box-shadow: 5px 5px utils.$notion-grey;
                h2, p {
                    display: flex;
                    justify-content: center;
                }
                a {
                    color: utils.$notion-grey;
                    text-decoration: none;
                }
            }
        }
    }
    table#notion_table {
        width: 100%;
        display: block;
        margin: auto;
        border-collapse: collapse;
        table-layout: fixed;
        thead {
            display: block;
            border-bottom: 1px solid #000;
            background-color: #aaa;
            tr {
                display: flex;
                th {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 20%;
                }
            }
        }
        tbody {
            display: block;
            tr {
                display: flex;
                td {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 20%;
                }
            }
        }
    }
}