@use "../nav";
@use "../utils";
@use "../title";

div#load_data {
    width: 80%;
    margin: auto;
    padding: 16px;
    // border: utils.$debug-container;
    display: block;
    justify-content: space-around;
    table#notion_table {
        width: 100%;
        display: block;
        margin: auto;
        border-collapse: collapse;
        table-layout: fixed;
        thead {
            display: block;
            border-bottom: 1px solid #000;
            background-color: #aaa;
            tr {
                display: flex;
                th {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 20%;
                }
            }
        }
        tbody {
            display: block;
            tr {
                display: flex;
                td {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 20%;
                }
            }
        }
    }
}