@use "../nav";
@use "../utils";
@use "../title";

div#load_data {
    width: 80%;
    margin: auto;
    padding: 16px;
    // border: utils.$debug-container;
    display: block;
    justify-content: space-around;
    //_ NOTION, MICROSOTF, GITHUB
    div.productivity-section {
        display: block;
        width: 40%;
        padding: 8px;
        height: max-content;
        margin: auto;
        border: utils.$debug-container;
        border-radius: 5px;
        box-shadow: 5px 5px utils.$main-colour;
        h2 {
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            // border: utils.$debug-container;
        }
        div.image-container {
            width: 100%;
            height: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 100px;
                height: 100px;
            }
        }
        p {
            display: flex;
            justify-content: center;
            // border: utils.$debug-container;
            padding: 0px;
            margin-top: 8px;
            margin-bottom: 0px;
        }
        div.button-container {
            width: 100%;
            height: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            button {
                border: none;
                background-color: utils.$main-colour;
                border-radius: 3px;
                padding: 8px 16px;
                font-size: 12px;
            }
        }
    }
    div#database_grid{
        div.database-grid-row {
            width: 100%;
            display: flex;
            justify-content: space-around;
            padding: 0.5rem;
            margin: auto;
            div.database-tile:hover {
                transform: scale(1.05);
            }
            div.database-tile {
                width: 40%;
                border: 1px solid utils.$notion-grey;
                padding: 0.25rem;
                border-radius: 5px;
                box-shadow: 5px 5px utils.$notion-grey;
                h2, p {
                    display: flex;
                    justify-content: center;
                }
                a {
                    color: utils.$notion-grey;
                    text-decoration: none;
                }
            }
        }
    }
    table#notion_table {
        width: 100%;
        display: block;
        margin: auto;
        border-collapse: collapse;
        table-layout: fixed;
        thead {
            display: block;
            border-bottom: 1px solid #000;
            background-color: #aaa;
            tr {
                display: flex;
                th {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 20%;
                }
            }
        }
        tbody {
            display: block;
            tr {
                display: flex;
                td {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 20%;
                }
            }
        }
    }
    //_ SPOTIFY, iTUNES
    div#playlist_grid {
        width: 80%;
        margin: auto;
        padding: 0.5rem;
        display: block;
    }
    div.playlist-grid-row {
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 0.5rem;
        margin: auto;
        div.playlist-tile:hover {
            transform: scale(1.05);
        }
        div.playlist-tile {
            width: 40%;
            border: 1px solid utils.$spotify-green;
            padding: 0.25rem;
            border-radius: 5px;
            box-shadow: 5px 5px utils.$spotify-green;
            img {
                display: block;
                margin: auto;
            }
            h2, p {
                display: flex;
                justify-content: center;
            }
        }
    }
}