div#main {
    width: 70%;
    display: block;
    margin: auto;
}

h1#title {
    width: 100%;
}

button#return_to_integrator {
    width: 20%;
    border: 0px;
    border-radius: 2px;
    background-color: #3f9bef;
}

button#return_to_integrator:hover {
    filter: brightness(125%);
}