@use "title";
@use "../nav";
@use "../utils";

body {
    font-family: Ubuntu;
}

section#main_area {
    height: 100%;
    width: 100%;
    font-family: "Manjari Thin";
    div#intro_area {
        padding: 16px 16px;
        background-color: #fff;
        height: max-content;
        width: 70%;
        margin: auto;
        border: utils.$debug-container;
        border-radius: 4px;
        box-shadow: 5px 5px #000;
        p {
            padding: 0px;
            margin: 0px;
        }
        ul {
            margin: 0px;
        }
        ul ul {
            border: none;
        }
    }
}