@use "title";
@use "../nav";
@use "../utils";

section#main_area {
    height: 100%;
    width: 100%;
    border: utils.$debug-container;
    header {
        border: utils.$debug-container;
    }
    div#intro_area {
        padding: 0px 8px;
        background-color: #fff;
        height: max-content;
        p {
            padding: 0px;
            margin: 0px;
        }
        ul {
            margin: 0px;
        }
        ul ul {
            border: none;
        }
    }
}